#pcheader {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  z-index: 4; }
  #pcheader #gnb {
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    -o-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 100;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    #pcheader #gnb .line {
      -webkit-transition: all 0.7s cubic-bezier(0.9, 0, 0.33, 1);
      -moz-transition: all 0.7s cubic-bezier(0.9, 0, 0.33, 1);
      -o-transition: all 0.7s cubic-bezier(0.9, 0, 0.33, 1);
      transition: all 0.7s cubic-bezier(0.9, 0, 0.33, 1);
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background: #ffffff;
      display: block; }
      #pcheader #gnb .line.line1 {
        top: 0; }
      #pcheader #gnb .line.line2 {
        top: 12px; }
      #pcheader #gnb .line.line3 {
        top: 24px; }
    #pcheader #gnb.Cross .line1 {
      top: 14px;
      transform: rotate(45deg);
      background: rgba(0, 0, 0, 0.6); }
    #pcheader #gnb.Cross .line2 {
      opacity: 0; }
    #pcheader #gnb.Cross .line3 {
      top: 14px;
      transform: rotate(-45deg);
      background: rgba(0, 0, 0, 0.6); }
  #pcheader #pcnav {
    width: 0px;
    border-right: 1px solid #333;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6); }
    #pcheader #pcnav ul {
      -webkit-transition: all 0.9s cubic-bezier(0.9, 0, 0.33, 1);
      -moz-transition: all 0.9s cubic-bezier(0.9, 0, 0.33, 1);
      -o-transition: all 0.9s cubic-bezier(0.9, 0, 0.33, 1);
      transition: all 0.9s cubic-bezier(0.9, 0, 0.33, 1);
      display: flex;
      width: 65%;
      flex-direction: column;
      text-align: left; }
    #pcheader #pcnav li {
      -webkit-transition: all 0.3s cubic-bezier(0.9, 0, 0.33, 1);
      -moz-transition: all 0.3s cubic-bezier(0.9, 0, 0.33, 1);
      -o-transition: all 0.3s cubic-bezier(0.9, 0, 0.33, 1);
      transition: all 0.3s cubic-bezier(0.9, 0, 0.33, 1);
      position: relative;
      font-weight: 700;
      color: #3b3b3b;
      margin: 30px 0; }
      #pcheader #pcnav li a {
        position: absolute;
        display: inline-block;
        width: 190px;
        height: 36px;
        visibility: hidden; }
        #pcheader #pcnav li a.fadeIn {
          visibility: visible;
          left: -150px; }
        #pcheader #pcnav li a.allIn {
          visibility: visible;
          left: -30px; }
        #pcheader #pcnav li a span {
          -webkit-background-size: cover !important;
          -moz-background-size: cover !important;
          background-size: cover !important;
          position: absolute;
          top: 0px;
          right: 7px;
          display: inline-block;
          background: url(../images/common/idcard.png) no-repeat center;
          width: 35px;
          height: 35px;
          opacity: 1; }
        #pcheader #pcnav li a .nav_img2 {
          background: url(../images/common/skills.png) no-repeat center; }
        #pcheader #pcnav li a .nav_img3 {
          background: url(../images/common/work.png) no-repeat center; }
        #pcheader #pcnav li a .nav_img4 {
          background: url(../images/common/access.png) no-repeat center; }
        #pcheader #pcnav li a .nav_img5 {
          background: url(../images/common/contact.png) no-repeat center; }

/*# sourceMappingURL=layout.css.map */
